@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* main-Secetion */
.hero-bg {
  background-image: url("../assets/Hero-bg.png");
  width: 1440px;
  height: 652px;
  margin-top: 100px;
}
/* img{
position: absolute;
width: 223.2px;
height: 208.85px;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
} */
h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}
h3 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
h4 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}
p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
}

.btn-primary {
  background-color: rgb(13, 19, 33);
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 21px 24px 21px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  align-items: center;
  margin: 30px 0px;
}
.container {
  position: absolute;
  text-align: center;
  width: 998px;
  height: 582px;
  margin-left: 221px;
  margin-right: 221px;
  margin-bottom: 48px;
  margin-top: 16px;
  margin-bottom: 4506px;
  align-items: center;
  padding: 0px;
}
img {
  width: 240px;
  height: 240px;
  margin-top: 10px;
  position: static;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 32px;
}
.container .sub-container-1st {
  position: static;
  width: 998px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  flex: none;
  order: 1;
  align-self: stretch;
  /* flex-grow: 0; */
  margin: 18px 0px;
}
.container .sub-container-1st .h1-div {
  position: static;
  width: 998px;
  height: 136px;
  display: flex;
  align-items: center;
  padding: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.container .sub-container-1st .h4-div {
  position: static;
  width: 852px;
  height: 52px;
  /* Auto layout */
  display: flex;
  align-items: center;
  padding: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0px;
  opacity: 0.7;
}
/* Second section  */
.hero2-bg {
  width: 1140px;
  height: 1395px;
  margin-left: 148px;
  margin-right: 140px;
  margin-top: 50px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}
.main-container2 {
  position: static;
  width: 946px;
  height: 1235px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 97px;
  margin-left: 97px;
}
.container2h1-div {
  position: static;
  width: 852px;
  height: 115px;
  align-items: center;
  padding: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.container2h1-div .container2-h1 {
  position: static;
  width: 852px;
  height: 39px;
  align-items: center;
}
.container2h1-div .container2-h4 {
  position: static;
  width: 852px;
  height: 52px;
  align-items: center;
  margin: 10px 0px;
}
.sub-container-hero2 {
  position: static;
  width: 850px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 10px 0px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
.sub-container-hero2 .hero2-frame1 {
  position: static;
  width: 850px;
  height: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: px 0px;
}
.hero2-frame1 .subframe1 {
  position: static;
  width: 477px;
  height: 260px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
.subframe1 .subframe2 {
  position: static;
  width: 150px;
  height: 48px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px 12px 20px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 20px 0px;
}
.subframe1 .learn-btn {
  position: static;
  width: 130px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px 12px 20px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 32px 0px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
}
.subframe1 .subframe-title {
  position: static;
  width: 477px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 32px 0px;
}

/* third section */

.hero3-bg {
  position: static;
  width: 1140px;
  height: 777px;
  margin-left: 148px;
  margin-right: 152px;
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  border-radius: 20px;
  background-color: aquamarine;
}
.hero3-bg .container-frame {
  position: static;
  width: 852px;
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}
.hero3-bg .container-video {
  position: static;
  width: 1140px;
  height: 614px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 32px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 30px 0px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}
.container-video .video-frame {
  position: static;
  width: 1076px;
  height: 550px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
  border-radius: 16px;
}
/* Hero4 Section */
.hero4-bg {
  position: static;
  width: 1140px;
  height: 510px;
  margin-left: 148px;
  margin-right: 152px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  border-radius: 20px;
  border: 2px solid;

}
.cart-div{
    display: flex;
    margin: 0px 24px;
}

.title-div {
  position: static;
  width: 946px;
  height: 100px;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.title-div .cart-title {
  position: static;
  width: 652px;
  height: 39px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}
.title-div .cart-subtitle {
  position: static;
  width: 652px;
  height: 52px;
  margin: 10px 0px;
}
.main-cart{
position: static;
width: 270px;
height: 210px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 30px;
flex: none;
order: 0;
flex-grow: 0;
margin: 30px 24px;
border-radius: 16px;
}
.main-cart .cart-detail{
position: static;
width: 260px;
height: 200px;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.cart-img{
position: static;
width: 35px;
height: 38px;
flex: none;
order: 0;
flex-grow: 0;
padding: 0px;
margin: 0px 0px;
}
.cart-h1{
position: static;
width: 284px;
height: 36px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px;
}
.cart-p{
position: static;
width: 284px;
height: 52px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
}
.cart1-color{
    background-color: rgba(245, 229, 207, 0.477);
}
.cart2-color{
    background-color:rgba(191, 233, 149, 0.356);
}
.cart3-color{
    background-color:rgba(128, 230, 230, 0.507);
}
